[Unit] 
Description=spark master service
After=docker.service
Before=spark-master.service
Requires=docker.service

[Service]
ExecStartPre=-/usr/bin/rm -rf slaves
ExecStartPre=-/usr/bin/fleetctl list-machines| awk '{ if(NR>1)print $2; }' >> slaves
ExecStartPre=-/usr/bin/docker kill spark-master
ExecStartPre=-/usr/bin/docker rm spark-master
ExecStartPre=-/usr/bin/docker pull quadrature/spark-master
ExecStartPre=-/usr/bin/etcdctl set /hdfs/master %H
ExecStart=/usr/bin/docker run --volumes-from hdfs --net host -p 50070:50070 -p 8020:8020 -p 9000:9000 -e MASTER=%H --rm --name hdfs quadrature/hdfs /bin/bash -c 'cat > /root/hadoop-config/slaves' < slaves
ExecStop=/usr/bin/docker stop spark-master
